* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: black;
    color: white;
}

.two {
    margin-left: 60px;
    width: 170px;
    height: 80px;
    cursor: pointer;
}

.three {
    margin-right: 50px;
}

.four {
    margin-right: 30px;
    cursor: pointer;
}

.five {
    margin-right: 10px;
    border: 1px solid white;
    padding: 15px;
    border-radius: 30px;
    cursor: pointer;
}

.six {
    margin-right: 20px;
    border: 1px solid red;
    background-color: red;
    cursor: pointer;
    padding: 16px 14px;
    border-radius: 30px;
}

.seven {
    color: red;
    background-color: white;
    margin-left: 10px;
    border-radius: 50%;
    padding: 3px;
    height: 17px;
}

.eight {
    width: 100%;
    cursor: pointer;
}

.nine {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 150px;
}

.nine0 {
    font-weight: 300;
    line-height: 1.5;
}

.nine1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    height: 1px;
}

.nine2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: flex-end;
    height: 215px;
}

.nine3 {
    background-color: white;
    border-radius: 10px;
    padding: 30px 10px;
    cursor: pointer;
}

.nine4 {
    display: flex;
    justify-content: space-between;
    padding-left: 110px;
    padding-right: 90px;
    align-items: center;
    color: white;
    height: 100px;
}

.nine5 {
    padding: 15px 50px;
    border: 1px solid gray;
    border-radius: 30px;
    cursor: pointer;
}

.nine6 {
    padding: 15px 37px;
    border: 1px solid gray;
    border-radius: 30px;
    cursor: pointer;
}

.nine7 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    height: 300px;
}

.nine8 {
    font-weight: 300;
    line-height: 1;
    text-align: center;
    font-size: 60px;
    font-family: Playfair;
    font-weight: 700;
}

.nine9 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    height: 1px;
}

.nine10 {
    margin-top: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    height: 330px;
}

.nine11 {
    height: 300px;
    width: 550px;
}

.nine12 {
    height: 300px;
    width: 550px;
}

.nine13 {
    color: red;
    letter-spacing: 1.9px;
}

.nine14 {
    color: white;
    font-size: 32px;
    margin-top: 10px;
}

.nine15 {
    color: gray;
    margin-top: 25px;
}

.nine16 {
    color: gray;
    margin-top: 10px;
    cursor: pointer;
}

.nine17 {
    margin-top: 60px;
    border: 1px solid gray;
    color: white;
    font-family: serif;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: black;
}

.seven1 {
    color: red;
    background-color: white;
    margin-left: 10px;
    border-radius: 45%;
    padding: 8px 3px 4px;
    height: 17px;
}

.nine18 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    height: 240px;
}

.nine32 {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    height: 240px;
}

.nine19 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    height: 260px;
}

.nine20 {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    height: 260px;
}

.nine21 {
    width: 350px;
    height: 230px;
}

.nine22 {
    color: red;
    letter-spacing: 2.2px;
    text-align: center;
    font-size: 12px;
}

.nine23 {
    color: white;
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
}

.nine24 {
    color: gray;
    margin-top: 22px;
    text-align: center;
    font-size: 14px;
}

.nine25 {
    color: gray;
    margin-top: 35px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}

.nine26 {
    color: gray;
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}

.nine27 {
    margin-top: 50px;
    border: 1px solid gray;
    color: white;
    font-family: serif;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 30px;
    margin-left: 90px;
    display: flex;
    align-items: center;
    background-color: black;
}

.nine33 {
    margin-top: 50px;
    border: 1px solid gray;
    color: white;
    font-family: serif;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 30px;
    margin-left: 60px;
    display: flex;
    align-items: center;
    background-color: black;
}

.seven2 {
    color: red;
    background-color: white;
    margin-left: 10px;
    border-radius: 50%;
    transform: rotate(45deg);
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nine28 {
    height: 250px;
    width: 350px;
}

.nine29 {
    margin-top: 390px;
    width: 300px;
    height: 500px;
    padding-top: 25px;
    margin-bottom: 50px;
}

.nine30 {
    margin-top: 50px;
    height: 300px;
    width: 350px;
}

.ten {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 370px;
    gap: 20px;
}

.ten1 {
    height: 370px;
}

.ten3 {
    width: 600px;
    height: 290px;
    padding-top: 80px;
}

.ten4 {
    width: 635px;
    height: 370px;
}

.ten5 {
    color: gray;
    margin-top: 12px;
    cursor: pointer;
}

.ten6 {
    margin-top: 50px;
    margin-left: 7px;
    border: 1px solid limegreen;
    color: white;
    background-color: limegreen;
    font-family: serif;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 15px;
}

.ten6:hover {
    background-color: black;
    cursor: pointer;
}

.seven3 {
    color: limegreen;
    background-color: white;
    margin-left: 10px;
    border-radius: 47%;
    font-weight: 900;
    padding: 10px 3px 2px;
    height: 18px;
    width: 23px;
}

.seven4 {
    cursor: pointer;
}

.seven6 {
    margin-left: 8px;
}

.ten7 {
    font-size: 32px;
    font-weight: 500;
}

.ten8 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    gap: 22px;
}

.ten9 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    gap: 22px;
}

.ten10 {
    width: 350px;
    height: 230px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
}

.ten11 {
    margin-top: 25px;
    margin-left: 150px;
    font-size: 25px;
    color: red;
    background-color: gainsboro;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ten12 {
    color: red;
    font-size: 16px;
    letter-spacing: 1.9px;
    font-size: 9px;
    margin-top: 20px;
}

.ten13 {
    font-family: serif;
    font-size: 23px;
    margin-top: 15px;
    line-height: 1.4;
}

.ten14 {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.eleven {
    margin-top: 150px;
    margin-left: 62px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    height: 500px;
}

.eleven1 {
    color: gray;
    width: 390px;
    height: 400px;
}

.eleven2 {
    width: 180px;
    height: 400px;
}

.eleven3 {
    width: 250px;
    height: 500px;
}

.eleven4 {
    width: 200px;
    height: 400px;
}

.eleven5 {
    margin-top: 10px;
    width: 150px;
    height: 70px;
    background-color: white;
    border-radius: 4px;
}

.eleven6 {
    margin-top: 25px;
    line-height: 1.3;
}

.eleven7 {
    margin-top: 25px;
}

.eleven8 {
    color: white;
    font-family: serif;
    font-size: 18px;
}

.eleven0 {
    margin-top: 20px;
    color: gray;
}

.eleven9 {
    margin-top: 15px;
    color: gray;
}

.eleven10 {
    margin-top: 20px;
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.eleven11 {
    margin-top: 15px;
    color: gray;
}

.eleven12 {
    margin-top: 15px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.eleven13 {
    color: white;
    background-color: red;
    height: 30px;
    width: 44px;
    border-radius: 50%;
    padding-top: 13px;
    margin-top: 20px;
}

.eleven14 {
    color: white;
    background-color: red;
    margin-left: 5px;
    height: 30px;
    width: 44px;
    border-radius: 50%;
    padding-top: 13px;
}

.eleven15 {
    color: white;
    font-size: 25px;
}

.eleven16 {
    color: aqua;
    font-size: 25px;
}

.twelve1 {
    margin-top: 20px;
    background-color: black;
    height: 40px;
    width: 150px;
    border: 1px solid gray;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 7px;
    cursor: pointer;
}

.twelve2 {
    background-color: black;
    height: 40px;
    width: 150px;
    border: 1px solid gray;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 7px;
    cursor: pointer;
}

.eleven17 {
    color: white;
    font-size: 7px;
}

.eleven18 {
    color: white;
    font-size: 7px;
}

.twelve3 {
    position: relative;
    top: 8px;
    right: 54px;
}

.twelve4 {
    position: relative;
    top: 8px;
    right: 35px;
}

.twelve5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding-left: 65px;
    padding-right: 65px;
    color: white;
    font-weight: 600;
}